.App {
  text-align: center;
}
.app_form{

  position: fixed;
  bottom:0;
  margin: 20px;
  z-index: 1;
  padding: 15px;
  display: flex;
  width: 100%;
  background-color: #e9e9eb;
}
.app_formControl{
  text-align: center;
  display: flex !important;
  flex-direction: row !important;
  width: 95%;
}
 .app_inputStyle{
  text-align: center !important;
  flex: 1;
  } 
.app_iconButton{
  flex: 0;
} 
